@charset "Shift_JIS";
/********************************************************************/
/*  Edited By : Watson                                              */
/********************************************************************/

/* 蜈ｱ騾? ------------------------------------------------------------*/

body {
	font-family	: sans-serif;
	color		: #8B0000;
	background	: #FFF url('atm/atm_background.png') no-repeat;
	font-size	: 10pt;
}
a {
	color		: #CD5C5C;
	text-decoration	: none;
}
a:visited {
	color		: #DEB887;
}
a:active {
	color		: #F08080;
}
a:hover {
	color		: #F08080;
	background-color: #FFDAB9;
}
hr {
	border-style	: solid;
	border-color	: #A0522D;
	border-width	: 1px 0px 0px 0px;
}
table {
	border		: none;
}
th, td {
	font-family	: sans-serif;
	font-size	: 10pt;
	border-style	: solid;
	border-color	: #FFA07A;
	border-width	: 1px;
	white-space	: nowrap;
}
th {
	border-color	: #A0522D;
}
img {
	border		: none;
}
#islandInfo .big,
#CommentBox .big,
#localBBS .big,
#RecentlyLog .big,
h2 {
	display		: block;
	text-align	: left;
	text-transform	: uppercase;
	background-image: url('atm/atm_mmji.gif');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	padding-left	: 25px;
	font-size	: 14pt;
	font-weight	: bold;
	color		: #CD5C5C;
	border		: solid #8B4513;
	border-width	: 0px 0px 2px 0px;
	width		: 300px;
}
h2.lastModified{
	font-size	: 90%;
	background-image: none;
	width		: 100%;
	padding		: 0px;
}

option, input:focus {
	background-color: #FFE4C4;
}
#LinkFoot {
	background-color: #FFF5EE;
	border		: dashed #F5DEB3 1px;
	width		: 50%;
	margin-left	: 25%;
	padding		: 5px;
}
/**********************************************************************/

/* TOP繝壹?ｼ繧ｸ ---------------------------------------------------------*/
/* 繧ｿ繝ｼ繝ｳ謨ｰ髢｢菫? */
h2.Turn {
	position	: relative;
	left		: 50%;
	background-image: url('atm/atm_icyo.gif');
	background-repeat: no-repeat;
	background-position: 99% 10%;
	height		: 50px;
	border		: dashed #F5DEB3 1px;
	width		: 45%;
	margin-bottom	: 1em;
	font-size	: 16pt;
}
/* 逋ｺ隕九?ｮ險倬鹸 譛?霑代?ｮ蜃ｺ譚･莠? */
#HistoryLog, #RecentlyLog {
	white-space	: nowrap;
}

/* 繧ｿ繧､繝医Ν */
h1 {
	position	: relative;
	top		: 60px;
	left		: 50px;
	font-family	: "縺ゅ￥縺ゅヵ繧ｩ繝ｳ繝?", sans-serif;
	font-style	: italic;
	font-weight	: normal;
	font-size	: 38pt;
	color		: #8B0000;
	background-color: transparent;
	background-image: url('atm/atm_bg_title.gif');
	background-repeat: no-repeat;
	background-position: 96% 50%;
	margin-bottom	: 80px;
	border-style	: double;
	border-color	: #CD853F;
	border-width	: 0px 0px 5px 0px;
	width		: 400px;
}
/* 螟ｧ縺阪＞譁?蟄? */
.big {
	font-size	: 24pt;
}
/**********************************************************************/

/* Map繝壹?ｼ繧ｸ ---------------------------------------------------------*/
#islandMap, #islandMap table {
	margin-left	: auto;
	margin-right	: auto;
}
#islandInfo table,
#CommentBox table,
#localBBS table
{
	width		: 100%;
}
#islandInfo th,
#CommentBox th,
#localBBS th
{
	background-color: #FFA07A;
}
#localBBS center {
	text-align	: left;
}

/* 繝翫ン繧ｲ繝ｼ繧ｷ繝ｧ繝ｳ髢｢菫? */
#NaviView{
	visibility	: hidden;
	z-index		: 1;
	position	: absolute;
	text-align	: left;
	margin-top 	: -224px;
	padding		: 3px;
	background-color: #F0FFFF;
	border-style	: groove;
	border-color	: #4169E1;
	border-width	: 3px;
	width		: 140px;
}
.NaviTitle {
	font-size	: 12pt;
	border-style	: solid;
	border-color	: #000080;
	border-width	: 0 0 2px 0;
}
.NaviImg {
	margin		: 5px;
}
.NaviText {
	margin-left	: 15px;
}


/* 蟲ｶ縺ｮ蜷榊燕縺ｪ縺ｩ */
.islName {
	font-weight	: bold;
	color		: #A06040;
}
/* 阮?縺上↑縺｣縺溷ｳｶ縺ｮ蜷榊燕 */
.islName2 {
	font-weight	: bold;
	color		: #808080;
}
/* 鬆?菴阪?ｮ逡ｪ蜿ｷ縺ｪ縺ｩ */
.number {
	font-weight	: bold;
	color		: #800000;
}
/* 鬆?菴崎｡ｨ縺ｫ縺翫￠繧玖ｦ九□縺? */
.head {
	font-weight	: bold;
	color		: #800000;
}
/* 髢狗匱險育判蜷? */
.command {
	font-weight	: bold;
	color		: #D08000;
}
/* 轣ｽ螳ｳ */
.disaster {
	font-weight	: bold;
	color		: #FF0000;
}
/* 隕ｳ蜈芽??騾壻ｿ｡?ｼ郁ｦｳ蜈芽???ｼ? */
.lbbsSS {
	font-weight	: bold;
	color		: #0000FF;
}
/* 隕ｳ蜈芽??騾壻ｿ｡?ｼ医が繝ｼ繝奇ｼ? */
.lbbsOW {
	font-weight	: bold;
	color		: #FF0000;
}

/* 縺企?? */
.money {
	font-weight	: bold;
	color		: goldenrod;
}
/* 鬟滓侭 */
.food {
	font-weight	: bold;
	color		: #8B4513;
}
/* 豕ｨ諢? */
.attention {
	font-weight	: bold;
	color		: #FF0000;
}
/* point */
.point {
	font-weight	: bold;
	color		: #CD853F;
}
/* 騾壼ｸｸ縺ｮ譁?蟄苓牡 */
.normal {
	font-weight	: bold;
	color		: #000000;
}
/* 譁ｰ隕上さ繝｡繝ｳ繝? */
.new {
	color		: #f00;
	background-color: transparent;
}
/* 諤ｪ迯｣蜃ｺ豐｡謨ｰ */
.monster{
	font-size	: 8pt;
	color		: #f00;
}
/**********************************************************************/
/* 閭梧勹濶ｲ */
/* 鬆?菴崎｡ｨ隕句?ｺ縺? */
.TitleCell {
	background-color	: #F4A460;
}
/* 鬆?菴崎｡ｨ鬆?菴? */
.NumberCell {
	background-color	: #F4A460;
}
/* 鬆?菴崎｡ｨ蟲ｶ縺ｮ蜷榊燕 */
.NameCell {
	background-color	: #F5DEB3;
}
/* 鬆?菴崎｡ｨ蟲ｶ縺ｮ諠?蝣ｱ */
.InfoCell {
	background-color	: #FAEBD7; text-align: right;
}
/* 鬆?菴崎｡ｨ繧ｳ繝｡繝ｳ繝域ｬ? */
.CommentCell {
	background-color	: #FFFFFF; text-align: left;
}
/* 髢狗匱險育判繝輔か繝ｼ繝? */
.InputCell {
	background-color	: #FFDAB9;
}
/* 髢狗匱險育判蝨ｰ蝗ｳ */
.MapCell {
	background-color	: #FFFFFF;
}
/* 髢狗匱險育判蜈･蜉帶ｸ医∩險育判 */
.CommandCell {
	background-color	: #FFFFFF;
}
/* Point谺? */
.PoinCell {
	background-color	: moccasin;
}
